{% extends 'base.html' %}

{% block page_content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

<a href="{% url 'dashboard' %}">Back to dashboard</a>
<a href="{% url 'password_reset' %}">Reset password</a>
{#<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>#}
<a href="{% url 'social:begin' 'github' %}?next={{ request.path }}">Login with Github</a>
<a href="{% url 'register' %}">Register</a>
{% endblock %}